{% extends 'base.html.twig' %}

{% block title %}Adverts{% endblock %}

{% block body %}
    <h1>Adverts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ advert.location }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ advert.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adverts_index') }}">back to list</a>

    <a href="{{ path('app_adverts_edit', {'id': advert.id}) }}">edit</a>

    {{ include('adverts/_delete_form.html.twig') }}
{% endblock %}
