{% extends 'base.html.twig' %}

{% block title %}Advert Details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/show.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}

{% block body %}
    <div class="advert-detail">
        <div class="advert-header">
            <a class="back_button" href="{{ path('app_adverts_index') }}">back to list</a>
            <h1>{{ advert.title }}</h1>
            <div class="advert-meta">
                <span>Location: {{ advert.location }}</span>
                <span>Price: ${{ advert.price }}</span>
            </div>
        </div>

        <div class="advert-content">

            <img src="{{ asset('uploads/images/' ~ advert.image) }}" alt="{{ advert.title }}" class="advert-image">

            <div class="advert-description">
                <p>{{ advert.description }}</p>
            </div>

            <div class="advert-categories">
                <h3>Categories:</h3>
                <ul>
                    {% for category in advert.category %}
                        <li class="badge">{{ category.title }}</li>
                    {% else %}
                        <li>No categories available</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="advert-user">
                <h3>Created By:</h3>
                <p>{{ advert.user.title }}</p>
            </div>
        </div>
    </div>
{% endblock %}
